{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    // "max-len": [1, 70, 2, { "ignoreComments": true }],
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "comma-dangle": ["error", "never"],
    "react/jsx-indent": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "ignore",
        "prop": "ignore"
      }
    ],
    "react/no-unescaped-entities": "off",
    "react/require-default-props": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "browser": true
  }
}
